.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.App-logo {
  width: 20rem;
  pointer-events: none;
}

.pageFocus {
  flex: 1;
  color: midnightblue;
  background-color: ghostwhite;
}

.dashboardTopBar {
  z-index: 11;
  color: rgb(158, 158, 158);
  box-shadow: rgba(53, 64, 82, 0.05) 0px 0px 14px 0px;
  background: rgb(255, 255, 255);
}

.dashboardMain {
  padding: 1rem;
}